@{
    ViewBag.Title = ViewBag.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Background"] = "background2";
}
@using Movies.Mappings

<div class="wrapper">
    
    <div class="mainMovie">
    
        <p class="mainTitle"> @ViewBag.Name</p><br/>
        <p  class="white">Release date (USA): @ViewBag.Date.ToString("dd MMMM yyyy")</p><br/><br/>
        <ul class="row">
            <li class="col">
                @ViewBag.Title
                <br/>
            </li>

            <li class="col"><p class="subtitle">Cast</p><br/>
                <ul>
                    @{
                        foreach (var person in ViewBag.Actors)
                        {
                            <li class="white">@person.name</li>
                        }
                    }
                </ul><br/><br/>
            </li>

            <li class="col"><p class="subtitle">Directors</p><br/>
                <ul>
                    @{
                        foreach (var person in ViewBag.Directors)
                        {
                            <li class="white">@person.name</li>
                        }
                    }
                </ul><br/><br/>
            </li>

            <li class="col"><p class="subtitle">Writers</p><br/>
                <ul>
                    @{
                        foreach (var person in ViewBag.Writers)
                        {
                            <li class="white">@person.name</li>
                        }
                    }
                </ul>
            </li>
  
            <li class="col">
                <p class="subtitle">Plot</p><br/>
                <p class="white">@ViewBag.Plot</p><br/><br/>
            </li>
        </ul> 

    </div>

    <div class="similarMovie">
        <p class="mainTitle">Similar movies</p><br/>

        @{
            foreach (var movie in ViewBag.Similars)
            {
                <li>@movie.title</li>
                <li>@movie.release_date</li>
                <li>@movie.description</li>
            }
        }

    </div>

</div>
