@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<br/><br/>TYTUŁ<br/><br/>
<br />@ViewBag.Title
<br/><br/>DATA<br/><br/>
<br/> @ViewBag.Date
<br/><br/>OBSADA<br/><br/>
<br/> @ViewBag.Cast
<br/><br/>FABUŁA<br/><br/>
<br/> @ViewBag.Plot
<br/><br/>PODOBNE<br/><br/>
<br/> @ViewBag.Similars
