@{
    ViewBag.Title = ViewBag.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Background"] = "background2";
    HttpCookie authCookie = Request.Cookies[FormsAuthentication.FormsCookieName];
}

<div class="wrapper">

    <div class="mainMovie">

        <p class="mainTitle">@ViewBag.Name</p>
        <br />
        <p class="white">Release date (USA): @ViewBag.Date.ToString("dd MMMM yyyy")</p>
        <br />
        <br />
        <ul class="row">
            <li class="col">
                @if (@ViewBag.Image == "00000000-0000-0000-0000-000000000000")
                    {
                   ViewBag.Image = "defaultPoster";
                }
                <img class="searchPoster" src='@Url.Content("~/Content/images/uploaded/" + @ViewBag.Image + ".png")'/>
                <br />
            </li>

            <li class="col">
                <p class="subtitle" style="color: black">Cast</p>
                <br />
                <ul>
                    @{
                        foreach (var person in ViewBag.Actors)
                        {
                            <li class="black">@person.name</li>
                        }
                    }
                </ul>
                <br />
                <br />
            </li>

            <li class="col">
                <p class="subtitle" style="color: black">Directors</p>
                <br />
                <ul>
                    @{
                        foreach (var person in ViewBag.Directors)
                        {
                            <li class="black">@person.name</li>
                        }
                    }
                </ul>
                <br />
                <br />
            </li>

            <li class="col">
                <p class="subtitle" style="color: black">Writers</p>
                <br />
                <ul>
                    @{
                        foreach (var person in ViewBag.Writers)
                        {
                            <li class="black">@person.name</li>
                        }
                    }
                </ul>
            </li>

            <li class="col">
                <br />
                <p class="subtitle" style="color: black">Plot</p>
                <br />
                <p class="black">@ViewBag.Plot</p>
                <br />
                <br />
            </li>
        </ul>

    </div>
    
    <div class="sim" style="left: 0">
        @if (authCookie == null)
        {
            <p class="white">@Html.ActionLink("You need to sign in to add new similar movie", "LogIn", "User", null, new {@class = "MainBarListLink"}) </p>
        
        }
        else if (authCookie != null)
        {
            <p class="white">@Html.ActionLink("Add new similar movie", "addSimilarMovie", "Movie", new {firstMovieId = @ViewBag.MovieId}, new {@class = "MainBarListLink"})</p>
        }
        <br/><br/>

    </div>
    
    <div id="test" class="sim">
        <p class="mainTitle">Similar movies</p>
        <br/>
        @{
            foreach (var movie in ViewBag.Similars)
            {
                <p class="mainSimTitle">@movie.title</p>
                <br />
                <p class="black">Release date (USA): @movie.release_date.ToString("dd MMMM yyyy")</p>
                <br />
                <br />
                <ul class="row">
                    @*<li class="col">
                        <img class="searchPoster" src='@Url.Content("~/Content/images/uploaded/" + @ViewBag.Image + ".png")'/>
                        <br />
                    </li>
                    
                    <li class="col">
                        <p class="subtitle">Cast</p>
                        <br />
                        <ul>
                            @{
                                foreach (var person in movie.cast)
                                {
                                    <li class="black">@person.name</li>
                                }
                            }
                        </ul>
                        <br />
                        <br />
                    </li>

                    <li class="col">
                        <p class="subtitle">Directors</p>
                        <br />
                        <ul>
                            @{
                                foreach (var person in movie.cast)
                                {
                                    <li class="black">@person.name</li>
                                }
                            }
                        </ul>
                        <br />
                        <br />
                    </li>

                    <li class="col">
                        <p class="subtitle">Writers</p>
                        <br />
                        <ul>
                            @{
                                foreach (var person in movie.cast)
                                {
                                    <li class="black">@person.name</li>
                                }
                            }
                        </ul>
                    </li>

                    <li class="col">
                        <br />
                        <p class="subtitle">Plot</p>
                        <br />
                        <p class="black">@movie.description</p>
                        <br />
                        <br />
                    </li>*@
                </ul> 
            }

        }

    </div>
    
    <div class="sim">
        <p class="mainTitle">Comments</p>


    </div>

</div>
    <script type="text/javascript">
        $(document).ready(function() {
            if ($(document).height() < 770) {
                FooterTop = 770;
            } else if ($(document).height() > 770) {
                FooterTop = $(document).height();
            }
            $(".Footer").css({ "top": FooterTop });
        });
    </script>

        