<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - SIMILAR.to</title>
    @*projekt: grupa 14 *@
    @*<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />*@
    <meta name="viewport" content="width=device-width" />d
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/moviesScript.js")
</head>
<body class='@(ViewData["Background"] ?? "")'>

    <div id="MainBarName">
        <a href='@Url.Action("Index", "Home")'>
            <img src='@Url.Content("~/Content/images/similarToGreen.png")' class="TransparentName" /></a>
    </div>

    <div id="body">
        @RenderSection("featured", required: false)
        <section>
            @RenderBody()
        </section>
    </div>
   
    <div id="MainBar">
        <ul id="MainBarList">
            <li><span class="MainBarListLink" id="SearchBarLink">search</span></li>
            @{
                HttpCookie authCookie = Request.Cookies[FormsAuthentication.FormsCookieName];
                if (authCookie == null)
                {
                    <li>@Html.ActionLink("sign in", "LogIn", "User", null, new { @class = "MainBarListLink" })</li>
                    <li>@Html.ActionLink("sign up", "Registration", "User", null, new { @class = "MainBarListLink" })</li>
                }
                else
                {
                    FormsAuthenticationTicket ticket = FormsAuthentication.Decrypt(authCookie.Value);
                    string name = ticket.Name;
                    if (ticket.UserData == "Admin")
                    {
                        <li>@Html.ActionLink("add image", "AddImage", "Movie", null, new { @class = "MainBarListLink" })</li>
                        <li><p class="MainBarListP">@Html.Raw(name.ToUpper()) (A)</p></li>
                        <li>@Html.ActionLink("logout", "LogOut", "User", null, new {@class = "MainBarListLink"})</li>
                    }
                    else
                    {
                        <li><p class="MainBarListP">@Html.Raw(name.ToUpper())</p></li>
                        <li>@Html.ActionLink("logout", "LogOut", "User", null, new {@class = "MainBarListLink"})</li>
                    }
                }
             }
        </ul>
    </div>

    <div id='SearchBlur' style='display: none;'>

        <div id="searchField">
            <input type="text" id="searchInput">
            <p id="incentive">type what to find</p>
            <div class="lineSeparator"></div>
        </div>

        <div id="moviesResult">
            <p style="font-size: 16px">search results for movies:</p><br/>
            <ul>

            </ul>

        </div>
        
        <br/>
        @*<div id="peopleResult">
            <p style="font-size: 16px">search results for people:</p><br/>

        </div>*@

        <div id='CloseSearchBlur'>x</div>

    </div>

    <div class="Footer">
        <ul id="FotterMenuList">
            <li>@Html.ActionLink("About", "About", "Home", null, new {@class = "MainBarListLink"})</li>
            <li>@Html.ActionLink("Terms", "Terms", "Home", null, new {@class = "MainBarListLink"})</li>
            <li>@Html.ActionLink("Privacy", "Privacy", "Home", null, new {@class = "MainBarListLink"})</li>
            <li>@Html.ActionLink("Advertising", "Advertising", "Home", null, new {@class = "MainBarListLink"})</li>
            <li>@Html.ActionLink("Help", "Help", "Home", null, new {@class = "MainBarListLink"})</li>
        </ul>
        <img src='@Url.Content("~/Content/images/cameraRoll-footer.png")' id="FooterLogo"/>
        <span id="Copyright">&copy; @DateTime.Now.Year similar.to</span>
    </div>

</body>
</html>

