@{
    ViewBag.Title = "People";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Background"] = "background2";
    HttpCookie authCookie = Request.Cookies[FormsAuthentication.FormsCookieName];
}
@model Movies.Models.AddCommentToMovieModel

<div class="wrapper">

    <div class="mainMovie">

        <p class="mainTitle">@ViewBag.Name</p>
        <br />
        @*<p class="white">Born: @ViewBag.BirthDate.ToString("dd MMMM yyyy")</p>
        <br />*@
        <br />
        <ul class="row">
            @*<li class="col">
                @if (@ViewBag.Image == "00000000-0000-0000-0000-000000000000")
                {
                    ViewBag.Image = "defaultPoster";
                }
                <img class="searchPoster" src='@Url.Content("~/Content/images/uploaded/" + @ViewBag.Image + ".png")'/>
                <br />
            </li>*@

            <li class="col">
                <p class="subtitle" style="color: black">Known from</p>
                <br />
                <ul>
                    @{
                        foreach (var movie in ViewBag.Casts)
                        {
                            <li>@Html.ActionLink((string)@movie.title, "Show", "Movie", new { @movie.id }, new { @class = "mainSimTitle" })</li>
                            <li class="black">from @movie.release_date.ToString("dd MMMM yyyy")</li>
                        }
                    }
                </ul>
                <br />
                <br />
            </li>

            @*<li class="col">
                <br />
                <p class="subtitle" style="color: black">Biography</p>
                <br />
                <p class="black">@ViewBag.Biography</p>
                <br />
                <br />
            </li>*@
        </ul>
    </div>
    
</div>

    <br/><br/>@*
<div class="sim">
    <br/><br/><br/><br/>
    <p class="mainTitle">Comments</p>
    <br/><br/>
    @foreach (var comment in ViewBag.Comments)
    {
        <div class="singleComment">
            <p class="commentInfo">posted by: @comment.user_id on @comment.date.ToString("dd MMM yyyy")</p>
            <textarea rows="5" class="commentField">@comment.text</textarea>
            <br/><br/>
        </div>
    }   

    @if (authCookie == null)
    {
        <p class="black" style="color: #000000;">@Html.ActionLink("You need to sign in to add new comment", "LogIn", "User", null, new { @class = " black" }) </p>
    }

    else if (authCookie != null)
    {
        using (Html.BeginForm())
        {
            <br/>
            FormsAuthenticationTicket ticket = FormsAuthentication.Decrypt(authCookie.Value);
            @Html.HiddenFor(u => u.movieId, new {Value = @ViewBag.MovieId})
            @Html.HiddenFor(u => u.userName, new {Value = ticket.Name})
            @Html.LabelFor(u => u.comment)<br/>
            @Html.TextAreaFor(u => u.comment, new {@class = "commentField"})<br/>

            <input type="submit" name="action:addComment" value="add comment" class="input-submit" />
        }
    }

    <br/><br/><br/><br/><br/><br/><br/><br/>
</div>*@

    <script type="text/javascript">
        $(document).ready(function() {
            if ($(document).height() < 770) {
                FooterTop = 770;
            } else if ($(document).height() > 770) {
                FooterTop = $(document).height();
            }
            $(".Footer").css({ "top": FooterTop });
        });
    </script>
